*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #5566c4;
}

.title{
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
    font-family: 'Bruno Ace SC', cursive;
}

.secondName{
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
    font-family: 'Bruno Ace SC', cursive;
    color: #0c8caf;
}

.todo-list{
    border: 1px black solid;
    width: 500px;
    margin: 340px auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow:  0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.inputForm{
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.inputForm:focus{
    border: 1px solid #000;
}

.formButton{
    width: 15%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}

.list{
    list-style: none;
    margin-top: 20px;
}

.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    flex-direction: row-reverse;
}

.task .conteudo{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Bruno Ace SC', cursive;
}

.list .task .check{
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.list .task .check:hover{
    background-color: #12271b;
}

.list .task .check.active{
    box-sizing: border-box;
    background-color: #07e66b;
    border-radius: 3px;
    display: block;
}

.line-through{
    text-decoration: line-through;
}

.list .task .content{
    margin-left: 30px;
    font-family: 'Bruno Ace SC', cursive;
}

.pAndDiv{
    display: flex;
    align-items: center;
}